# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Database files
*.sqlite3


# Virtual environment
cenv/
venv/
gateenv/
ENV/
.venv/
cnctenv/
env/

# IDE and editor files
.vscode/
.idea/
*.swp
.DS_Store
